* {
    margin: 0;
    font-family: "Montserrat", sans-serif;
    ;
}


a {
    text-decoration: none;
    cursor: pointer;
}

body {
    background-color: var(--background);
    height: 100vh;
}

/*******************/
/**** Properties ***/
/*******************/

:root {
    --background: white;
    --navtextcolor: black;
    --head-font: "Barlow Condensed", sans-serif;
    --paragraph-font: "Montserrat", sans-serif;
}

/*******************/
/* Styling classes */
/*******************/

.italic {
    font-style: italic;
}

.bold {
    font-weight: bold;
}

/**************/
/*** Header ***/
/**************/

/**********/
/** Bril **/
/**********/

.img-wrapper {
    display: flex;
    justify-content: center;
    margin: -5em 0 -5em 0;
}

.img-wrapper img {
    transform: scale(0.9);
    animation: wiggle 4s infinite;
    /* Adjusted animation duration to include the delay */
}

@keyframes wiggle {

    10%,
    100% {
        transform: rotate(0deg) scale(0.9);
    }

    20% {
        transform: rotate(12.5deg) scale(0.9);
    }

    30% {
        transform: rotate(0deg) scale(.9);
    }

    80% {
        transform: rotate(0deg) scale(.9);
    }

    90% {
        transform: rotate(-12.5deg) scale(.9);
    }
}


nav {
    display: flex;
    justify-content: space-between;
    padding: 1.5rem 3rem;



    a {
        color: var(--navtextcolor);
        font-size: 1.2em;

        &:hover {
            color: red;
        }

        &:active {
            filter: blur(500px);
            transition: 1s;
        }

        &:focus-visible {
            color: black;
        }
    }

    div {
        display: flex;
        gap: 3rem;
    }
}

h1 {
    text-align: center;
    font-family: var(--head-font);
    font-size: 5.8em;
    line-height: 1em;
    margin: 0 0 .25em 0;
}

.my-name {
    margin: 0 0 1em 0;
}

header {

    margin-bottom: 2em;

    p:nth-of-type(1) {
        text-align: center;
    }

    p:nth-of-type(2) {
        max-width: 75ch;
        margin: auto;

        @media screen and (max-width: 414px) {
            max-width: 40ch;
        }
    }

    p:nth-of-type(3) {
        text-align: center;
        font-size: 3em;
        color: rgb(153, 153, 153);
        animation: up-down 3s infinite ease-in-out;
        margin: 1em 0 0 0;
    }
}

@keyframes up-down {
    0% {
        transform: translateY(0) rotate(90deg);
    }

    50% {
        transform: translateY(.5em) rotate(90deg);
    }

    100% {
        transform: translateY(0) rotate(90deg);
    }

}

/********/
/* MAIN */
/********/
html {
    overflow-x: hidden;
}


.main-grid-wrapper {
    text-align: center;
    display: grid;
    grid-row-gap: 2em;
    padding: 2em 0;
    width: 100%;



    a {
        color: rgb(238, 238, 238);
        background-color: rgb(17, 105, 150);
        padding: 4em 3em;
        border-radius: 8px;
        width: 50%;
        margin: auto;
        transition: .2s;

        &:hover {
            background-color: rgb(9, 57, 81);
        }

        .main-link-styling {
            position: absolute;
            width: 12em;
            height: .1em;

            top: 3.4em;
            left: 1.2em;
            background-color: rgb(44, 44, 71);
        }

        h2 {
            position: absolute;
            top: .8em;
            left: .8em;
        }

        .work {
            position: absolute;
            left: 1.2em;
            top: 4em;
        }

        .work-function {
            position: absolute;
            left: 1.2em;
            top: 5.5em;
        }

        img {
            display: inline;
            position: absolute;
            object-fit: cover;
            width: 6.5em;
            height: 6.5em;
            top: .75em;
            right: 1em;
            border-radius: 3px;
        }
    }
}


@media (prefers-reduced-motion: no-preference) {
    @supports (animation-timeline: scroll()) {
        .main-grid-wrapper a:nth-of-type(odd) {
            animation: appear-left linear both;
            animation-timeline: view();
            animation-range: 0% 80%;
        }

        .main-grid-wrapper a:nth-of-type(even) {
            animation: appear-right linear both;
            animation-timeline: view();
            animation-range: 0% 80%;
        }
    }
}

@keyframes appear-left {
    0% {
        transform: translate(-150%);
        opacity: 0;
    }

    15% {
        transform: translate(-50%);
    }

    25% {
        transform: translate(-25%);
    }

    50% {
        transform: translate(0);
        opacity: 100%;
    }
}

@keyframes appear-right {
    0% {
        transform: translate(150%);
        opacity: 0;
    }

    15% {
        transform: translate(50%);
    }

    25% {
        transform: translate(25%);
    }

    50% {
        transform: translate(0);
        opacity: 100%;
    }
}

/**********/
/* FOOTER */
/**********/

footer {
    margin-top: 3em;
    background-color: white;
    width: 100%;

    p {
        text-align: left;
        margin: auto;
        max-width: 75ch;
    }

    .flex-wrapper {
        display: flex;
        justify-content: center;
        gap: 12em;
        padding: 2em;

        .socials-wrapper {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            gap: .6em;
        }

        img {
            width: 4em;
        }
    }
}